td {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: #f2f2f2;
}

.player1 {
  background-image: url("first.svg");
}

.player2 {
  background-image: url("second.svg");
}

.selected {
  background-color: #33aa3377 !important;
}

.arrow {
  background-image: url("arrow.svg");
}

.board-table {
  border-collapse: collapse;
  margin: auto;
}
