td {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fff;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: #89a2e3;
}

.player1 {
  background-image: url("first.svg");
}

.player2 {
  background-image: url("second.svg");
}

.selected {
  background-color: #33aa3377 !important;
}

.arrow {
  background-image: url("arrow.svg");
}

.board-table {
  border-collapse: collapse;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
